/* purgecss start ignore */
@tailwind base;
@tailwind components;

:root,
[data-theme="light"] {
  --bg-background-primary: white;
  --bg-background-secondary: white;
  --bg-background-tertiary: #e2e8f0;
  --bg-background-accent: rgb(56, 161, 105);

  --text-copy-primary: #2d3748;
  --text-copy-secondary: rgb(254, 254, 254);
  --text-copy-accent: rgb(56, 161, 105);
}

[data-theme="light"] .markdown-body {
  color: #24292e;
}

[data-theme="dark"] {
  --bg-background-primary: #0d2438;
  --bg-background-secondary: #102c44;
  --bg-background-tertiary: #1e3951;
  --bg-background-accent: rgb(34, 84, 61);

  --text-copy-primary: rgb(211, 218, 228);
  --text-copy-secondary: #cbd5e0;
  --text-copy-accent: rgb(34, 84, 61);

  --image-filter: grayscale(50%);
}

[data-theme="dark"] img:not(.logo),
[data-theme="dark"] .img-dark {
  opacity: 0.75;
  transition: opacity 0.5s ease-in-out;
}
[data-theme="dark"] img:hover,
[data-theme="dark"] .img-dark:hover {
  opacity: 1;
}

[data-theme="dark"] .markdown-body {
  color: #cbd5e0;
}

/*Add transitions on main div */
.layout {
  --duration: 0.3s;
  --timing: ease;

  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
}

a {
  @apply text-green-800 font-bold;
}

a:hover {
  @apply text-green-900;
}

nav .active {
  font-weight: bold;
  @apply border-black border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

@screen sm {
  .blob-shadow {
    @apply relative z-10;
  }

  .blob-shadow::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -2rem;
    z-index: -1;
    border-radius: 63% 37% 83% 17% / 30% 73% 27% 70%;
    @apply bg-green-200;
  }

  [data-theme="dark"] .blob-shadow::before {
    @apply bg-background-accent;
  }

  .blob-shadow:hover::before {
    @apply bg-green-300;
  }
}

.grayscale {
  filter: grayscale(100%);
}

.visit-site-link {
  /*green-500 / green-700 / green-500 */
  background-image: linear-gradient(to right, #2f855a, #38a169, #2f855a);
  transition: 0.5s;
  background-size: 200% auto;
  background-position: right center;
}
.visit-site-link:hover {
  background-position: left center;
  @apply text-copy-secondary;
}

/* purgecss end ignore */

@tailwind utilities;
