/* purgecss start ignore */
@tailwind base;
@tailwind components;

.theme-light {
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-tertiary: #e2e8f0;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;
}

.theme-dark .markdown-body {
  color: #24292e;
}

.theme-dark {
  --bg-background-primary: #0d2438;
  --bg-background-secondary: #102c44;
  --bg-background-tertiary: #1e3951;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;
}

.theme-dark .markdown-body {
  color: #cbd5e0;
}

a {
  @apply text-green-700 font-bold;
}

a:hover {
  @apply text-green-800;
}

nav .active {
  font-weight: bold;
  @apply border-black border-b;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

@screen sm {
  .blob-shadow::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: -1rem;
    right: -1rem;
    bottom: -2rem;
    z-index: -1;
    border-radius: 63% 37% 83% 17% / 30% 73% 27% 70%;
    @apply bg-green-200;
  }
}

.blob-shadow:hover::before {
  @apply bg-green-300;
}

/* purgecss end ignore */

@tailwind utilities;
